---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes";

.actions {
  text-align: center;

  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

@media (min-width: 80em) {
  #main {
    max-width: 800px;
  }
}

